@tailwind base;
@tailwind components;
@tailwind utilities;

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ant-alert-action {
  border: 1px solid green !important;
  padding: 2px 4px;
  border-radius: 4px;
  color: green;
}
.ant-alert-action:hover {
  border: 1px solid green !important;
  padding: 2px 4px;
  border-radius: 4px;
  color: green !important;
}
